In [ ]:
print('hello world')

In [ ]:
4+9

In [ ]:
a=6
g=9
sum=a+g

In [ ]:
sum

In [ ]:
a=input()
b=input()
print(a b)

In [ ]:
print(a)

In [ ]:
a=input()
b=input()
print(a)

In [ ]:
print(type(a))

In [ ]:
a=int(a)

In [ ]:
print(type(a))

In [ ]:
a=input()
b=input()
print(a+b)

In [ ]:
a=int(input())
b=int(input())
print(a+b)

In [ ]:
a=int(input("Value of a="))
b=int(input("Value of b="))
print(a+b)

In [ ]:
a=int(input("Value of a="))
b=int(input("Value of b="))

In [ ]:
a=int(input("Value of a="))
b=int(input("Value of b="))
print(a**b)

In [ ]:
for i in "Samyak":
    print(i)

In [ ]:
print("Hello")

In [ ]:
print("h")

In [ ]:
a=9
b=8
print(a,b)

In [ ]:
a=int(input("enter value of a"))
print(a)

In [ ]:
a=int(input("enter value of a"))
b=int(input("enter value of b"))
print(a+b)

In [ ]:
a=int(input("apna input dijiye"))
if a>89:
    print("Samyak")
elif a<1:
    print("sjdvkjdv")
else:
    print("Mujhe chodd do")

In [ ]:
a=int(input("Enter value of a"))
b=int(input("Enter value of b"))
print("Press 1,2,3,4 for addition,subtraction,multiplication and division respectively")
x=int(input())
if x==1:
    print(a+b)
elif x==2:
    print(a-b)
elif x==3:
    print(a*b)
elif x==4:
    print(a/b)

In [ ]:
a=input("Apna Naam likh Chutiye dekh kya rha hai")
b=input("enter element of string u want to search")
if b in a:
    print("YOYO")

In [ ]:
for i in "Samyak":
    print(i)

In [ ]:
for i in range(6):
    print(i)
    print(type(i))

In [ ]:
a=input("enter your name")
b=input("enter element u want to search")
count=0
for i in a:
    if i==b:
        
        count=count+1
print(count)

In [ ]:
a=90
print("Value of a is",a)

In [ ]:
a=90
b=80
print("Value of a is {} Value of b is{}".format(a,b))

In [ ]:
a=int(input("enter number"))
b=int(input("enter 2nd number"))
print("Sume of {} and {}".format(a,b), a+b)

In [ ]:
a=int(input("Enter the number"))
f=1
for i in range(1,a+1):
      f=f*i
print(f)

In [ ]:
a=int(input("enter numbr"))

for i in range(0,a+1):
    print(i*i)

In [ ]:
a=int(input("enter numbr"))
for i in range(0,a+1):
    if i%2==0:
        print(i)

In [ ]:
a=int(input("enter number of times u want to enter"))
for i in range(0,a):
    b=int(input("enter year "))
    if b%4==0:
        print("leap year hai chutiye")
    else:
        print("nhi hai")

In [ ]:
a=int(input("enter number "))
count=0
for i in range(1,a+1):
    if i%7==0:
        count=count+1
print(count)

In [ ]:
a=int(input("enter minutes"))
b=0
c=0
b=a//60
c=a%60
print("Hours {} , minutes {}".format(b,c))

In [ ]:
def check_LeapYear(year):
    if(year%4==0):
        return 'leap'
    else:
        return 'no'
y=int(input())
print(check_LeapYear(y))

In [ ]:
def checkeven(n):
    if n%2==0:
        print("even ")
    else:
        print("odd hai")
    
       
b=int(input("enter times"))

for i in range(0,b):
    number=int(input(" enter numvber"))
    checkeven(number)

In [ ]:
def nameage(n,a):
    print("Name {} , Age {}".format(n,a))
name=input("Enter Name ")
age=int(input("Enter age "))
nameage(name,age)

In [ ]:
def factorial(f):
    t=1
    for i in range(1,f+1):
      t=t*i
    return t

fact=int(input("Enter Number"))
print(factorial(fact))

In [ ]:
def evenodd(n):
    if n%2==0:
        return "even "
    else:
        return "odd"
number=int(input("enter number"))
print(evenodd(number))

In [ ]:
l=[]
b=int(input("enter number of elements"))
for i in range(b):
    ele=int(input("enter array"))
    l.append(ele)
    
print(l)

In [ ]:
conn = c.connect(user='root', host='localhost', password='Girik@123',db='db')
cur=conn.cursor()

cur.execute("create table developer(Program_language varchar(20),duration int,consultancy varchar(10))")
cur.execute("insert into developer values('Girik', 19, 'O')")
cur.execute("insert into developer values('Mayank', 20, 'O')")
cur.execute("insert into developer values('Harsh', 21, 'O')")
conn.commit()
cur.execute("select * from developer")

In [ ]:
import tkinter as tk
m=tk.Tk()
l=tk.Label(m,text="what is your name")
l.pack()
e=tk.Entry(m)
e.pack()
b=tk.Button(m,text="enter",command=lambda x: print("done"))
b.pack()

In [ ]:
import tkinter as tk

window=tk.Tk()
frame=tk.Frame()
frame.pack()
window.mainloop()
frame.pack()

In [ ]:
frame a =tk.a

In [ ]:
Spyder

File Edit Search Source Run Debug Consoles Projects Tools View Help

I

「

8

8

C:\Users\naman spyder-py3\untitled0.py

temp.py X untitled0.py X

#coding: utf-8 -*

Created on Thu Apr 7 10:55:58 2022

@author: naman

6

7

8

9

18

11

12

13

14

15 16

import tkinter as tk border_effects = {

"flat": tk.FLAT,

"sunken": tk.SUNKEN,

"raised": tk. RAISED, "groove": tk.GROOVE,

"ridge": tk.RIDGE,

}

window-tk.Tk()

Aprfor relief name, relief in border effects.items(): frame tk. Frame (master-window, relief-relief, borderwidth-5)

frame.pack(side-tk. LEFT)

label tk. Label (master-frame, text-relief_name) label.pack()

017

18

19 20

30°C

Clear

-

F1

*+

F2

F3

F4

F5

@

#

$

%

25

2

3

4

Tab

W

E

In [ ]:
import tkinter as tk

window = tk.Tk()
frame1 = tk.Frame(master=window, height=100, bg="red")
frame1.pack(fill=tk.X)
frame2 = tk.Frame(master=window, height=50, bg="yellow")
frame2.pack(fill=tk.X)
frame3 = tk.Frame(master=window, height=25, bg="blue")
frame3.pack(fill=tk.X)
window.mainloop()

In [ ]:
import tkinter as tk

window = tk.Tk()

frame = tk.Frame(master=window, width=150, height=150)
frame.pack()

label1 = tk.Label(master=frame, text="Im at (0, 0)", bg="red")
label1.place(x=0, y=0)

label2 = tk.Label(master=frame, text="I m at (75, 75)", bg="yellow")
label2.place(x=75, y=75)

window.mainloop()

In [ ]:
import tkinter as tk

window = tk.Tk()

frame = tk.Frame(master=window, width=150, height=150)
frame.pack()

label1 = tk.Label(master=frame, text="Im at (0, 0)", bg="red")
label1.place(x=0, y=0)

label2 = tk.Label(master=frame, text="I m at (75, 75)", bg="yellow")
label2.place(x=75, y=75)

window.mainloop()

In [ ]:
import tkinter as tk
window = tk.Tk()
for i in range(3):
for j in range(3):
frame = tk.Frame(
master=window,
relief=tk.RAISED,
borderwidth=1  
)
frame.grid(row=i, column=j)
label = tk.Label(master=frame, text=f"Row {i}\nColumn {j}")
label.pack()
window.mainloop()

In [ ]:
def enter(event):
    print('Button-2 pressed at x=%d,y=%d')

In [ ]:
print("This program will convert a height given meters to a height given in feet and inches.")
meters = float(input("Enter height in meters:"))
meters_in_ft = meters // .3048
meters_in_in = meters_in_ft % 12
print("The height is", meters_in_ft,"feet and",meters_in_in, "inches")

In [ ]:
m2f = lambda x: x*3.281
m = int(input())
print(m, "m = ", m2f(m), "feet")

In [ ]:
square = lambda x: x*x
twice = lambda f,x: f(f(x))
m = int(input())
print("quad of", m, "=", twice(square, m))

In [ ]:
from random import randint
n = int(input())
l = [randint(0, n) for i in range(10)]
print(l[randint(0,10)])

In [ ]:
diff = lambda l: max(l) - min(l)
l = input().split()
print("THe difference in ages are", diff(l))

In [ ]:
l = input().split()
print(''.join([i[0] for i in l]))

In [ ]:
l="Hello"
print(l.lower())

In [ ]:
l="    Hello World Hellllooooooo   "
print(l.strip())

In [ ]:
l="Hello"
print(l.replace("H","J"))

In [ ]:
l="Hello"
p="World"
print(l[0:-2])

In [ ]:
l=[1,2,3,4]
l.append('a')
print(l)

In [ ]:
a=int(input("Enter number of Inputs in List:"))
l=[]
for i in range(a):
    t=input()
    l.append(t)
print(l)

In [ ]:
a=int(input("enter number of inputs in list"))
l=[]
for i in range(a):
    t=int(input())
    l.append(t)
print(l)
b=int(input("enter element u wnt to search"))
for i in range(t):
    if b==l[i]:
        print("Yes")

In [ ]:
import sqlite3
con=sqlite3.connect("employee_details.db")
con.execute("Create table if not exists employeedetails(employeeid int primary key not null, employeename text not null, salary not null)")
con.execute("insert into employeedetails values(123,'Samyak', 40000)")
con.execute("insert into employeedetails values(173,'Lallan', 20000)")
con.execute("insert into employeedetails values(128,'Samyak', 30000)")
rs=con.execute("Select * from employeedetails")
for rows in rs:
    print(rows[0]," ",rows[1]," ",rows[2])

In [ ]:
from threading import Thread
from time import sleep
# function to create threads
def threaded_function(arg):
for i in range(arg):
print(&quot;running&quot;)
# wait 1 sec in between each thread

sleep(1)
if __name__ == &quot;__main__&quot;:
thread = Thread(target = threaded_function, args = (10, ))
thread.start()
thread.join()
print(&quot;thread finished...exiting&quot;)

In [ ]:
import sqlite3
con=sqlite3.connect("studentsSssss_data.db")
con.execute("Create table if not exists studentdetails(Studentid int primary key not null, studentname text not null, gender text not null)")
con.execute("insert into studentdetails values(123,'SAMYAK','MALE')")
con.execute("insert into studentdetails values(128,'SARTHAK','MALE')")
con.execute("insert into studentdetails values(129,'MOHIT','BANIYA')")
con.execute("insert into studentdetails values(121,'MOHINI','FEMALE')")
rs=con.execute("select * from studentdetails")
for rows in rs:
    print(rows[0]," ",rows[1]," ",rows[2])
   # if rows[2]=='FEMALE':
       # print(rows[0]," ",rows[1]," ",rows[2])

In [ ]:
import sqlite3
con=sqlite3.connect("teachekmrssss_data.db")
con.execute("PRAGMA foreign_keys=ON")
con.execute("Create table if not exists teacherdetails(Teacherid int primary key not null, teachername text not null, gender text not null)")
con.execute("insert into teacherdetails values(567,'JAGTAP','MALE')")
con.execute("insert intoq teacherdetails values(375,'AGILA','MALE')")
con.execute("insert into teacherdetails values(980,'RANA','BANIYA')")
con.execute("insert into teacherdetails values(183,'BANNERJEE','FEMALE')")
rs=con.execute("select * from teacherdetails")
for rows in rs:
    print(rows[0]," ",rows[1]," ",rows[2])    


con.execute("Create table if not exists studentdetails(Studentid int primary key not null, studentname text not null, gender text not null, Teacherid int not null, foreign key(Teacherid) references teacherdetails(Teacherid))")
con.execute("insert into studentdetails values(123,'SAMYAK','MALE',567)")
con.execute("insert into studentdetails values(128,'SARTHAK','MALE',375)")
con.execute("insert into studentdetails values(129,'MOHIT','BANIYA',980)")
con.execute("insert into studentdetails values(121,'MOHINI','FEMALE',183)")
rs=con.execute("select * from studentdetails")
for rows in rs:
    print(rows[0]," ",rows[1]," ",rows[2])

In [ ]:
from tkinter import *
tk=Tk()
Label(tk,text="SAMYAK").grid(row=0,column=0)
Label(tk,text="SARTHAK").grid(row=1,column=0)
Button(tk,text="Hello").grid(row=2,column=1)
tk.mainloop()

In [ ]:
import tkinter as tk
window = tk.Tk()
frame1 = tk.Frame(master=window, width=100, height=100, bg="red")
frame1.pack()
frame2 = tk.Frame(master=window, width=50, height=50, bg="yellow")
frame2.pack()
frame3 = tk.Frame(master=window, width=25, height=25, bg="blue")
frame3.pack()
window.mainloop()

In [ ]:
 tkinter
window=Tk()
frame1=window.Frame(width=100, height=100, bg="red")
frame1.pack()
frame2=window.Frame(width=80, height=100, bg="yellow")
frame2.pack()
frame3=window.Frame(width=60, height=100, bg="black")
frame3.pack()
window.mainloop()

In [ ]:
import sqlite3
con=sqlite3.connect("srm_dqwta.db")
con.execute("Create table if not exists studentdetails(Studentid int primary key not null, studentname text not null, gender text not null)")
con.execute("insert into studentdetails values(123,'SAMYAK','MALE')")
con.execute("insert into studentdetails values(128,'SARTHAK','MALE')")
con.execute("insert into studentdetails values(129,'MOHIT','BANIYA')")
con.execute("insert into studentdetails values(121,'MOHINI','FEMALE')")
con.execute("insert into studentdetails values(191,'JAYANT','MALE')")
rs=con.execute("select * from studentdetails")
for rows in rs:
    if rows[1][0]=='J':
        print(rows[0]," ",rows[1]," ",rows[2])

In [ ]:
from tkinter import*
tk=Tk()
Label(tk,text="Hello World").grid(row=0,column=0)
Entry(tk).grid(row=1,column=0)
tk.mainloop()

In [ ]:
from tkinter import*
tk=Tk()
# z=tk.IntVar()
var = IntVar()
Label(tk,text="First Name").grid(row=0,column=0)
Entry(tk).grid(row=0,column=1)
Label(tk,text="Last Name").grid(row=1,column=0)
Entry(tk).grid(row=1,column=1)
Label(tk,text="Email ID").grid(row=2,column=0)
Entry(tk).grid(row=2,column=1)
Label(tk,text="MOBILE NUMBER").grid(row=3,column=0)
Entry(tk).grid(row=3,column=1)
Label(tk,text="ADDRESS").grid(row=4,column=0)
Entry(tk).grid(row=4,column=1)
Label(tk,text="QUALIFICATION").grid(row=5,column=0)
Label(tk,text="S.NO EXAM").grid(row=5,column=1)
Label(tk,text="BOARD").grid(row=5,column=2)
Label(tk,text="PERCENTAGE").grid(row=5,column=3)
Label(tk,text="YEAR OF PASSING").grid(row=5,column=4)
Label(tk,text="CLASS X").grid(row=6,column=1)
Entry(tk).grid(row=6,column=2)
Entry(tk).grid(row=6,column=3)
Entry(tk).grid(row=6,column=4)
Label(tk,text="CLASS XII").grid(row=7,column=1)
Entry(tk).grid(row=7,column=2)
Entry(tk).grid(row=7,column=3)
Entry(tk).grid(row=7,column=4)
Label(tk,text="GRADUTATION").grid(row=8,column=1)
Entry(tk).grid(row=8,column=2)
Entry(tk).grid(row=8,column=3)
Entry(tk).grid(row=8,column=4)
Button(tk,text="Submit").grid(row=9,column=2)
Button(tk,text="Reset").grid(row=9,column=3)
menubutton = Menubutton(tk, text = "Menu") 
menubutton.menu = Menu(menubutton)  
menubutton.grid(row=10,column=0)
menubutton["menu"]= menubutton.menu 
menubutton.menu.add_checkbutton(label = "Courses")  
menubutton.menu.add_checkbutton(label = "Students")
menubutton.menu.add_checkbutton(label = "Careers")
Radiobutton(tk,text="Male",variable=var,value=1).grid(row=11,column=0)
Radiobutton(tk,text="Female",variable=var,value=2).grid(row=11,column=1)

tk.mainloop()

# import threading
import sympy
lock=threading.Lock()
def odd_num():
    lock.acquire()
    for i in range(100,201):
        if(i%2!=0):
            print(i,end = " ")
    
    lock.release()
            
def prime():
    lock.acquire()
    for i in range(200,301):
        if(sympy.isprime(i)):
            print(i,end=" ")
    
    lock.release()
            
def armstrong():
    lock.acquire()
    for i in range(100,301):
        sum=0
        temp = i
        while temp > 0:
            digit = temp % 10
            sum += digit ** 3
            temp //= 10

        if i == sum:
            print(i,end=" ")
    
    lock.release()

t1 = threading.Thread(target=odd_num)
t2 = threading.Thread(target=prime)
t3 = threading.Thread(target=armstrong)
    
t1.start()
t2.start()
t3.start()
 
t1.join()
t2.join()
t3.join()

In [ ]:
print("101 103 105 107 109 111 113 115 117 119 121 123 125 127 129 131 133 135 137 139 141 143 145 147 149 151 153 155 157 159 161 163 165 167 169 171 173 175 177 179 181 183 185 187 189 191 193 195 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 153")

In [ ]:
import socket
s=socket.socket(socket.AF_INET, socket.SOCK_STREAM)
s.bind((socket.gethostname(),1025)) 
s.listen(5)
while True:
    c, addr=s.accept()
    print("Connected with ",addr)
    c.send('Welcome to WARON')
    c.close()

In [ ]:
import socket
s=ocket.socket()
host=socket.gethostname()
port = 1876 
s.bind((host,port))
print("waiting for connection...")
s.listen(5)

while True:
    conn,addr=s.accept()
    print("Got connection from", addr)
    conn.send('Server saying hi'.encode())
    print(conn.recv(1024).decode())
    conn.close()

In [ ]:
from pyDatalog import pyDatalog
pyDatalog.create_atoms('son,daughter,male,female,parent,father,mother,sister,grandmother,grandfather,X,Y,Z')
+male('Vivek')
+male('Samyak')
+female('Avishi')
+female('Rashmi')
+female('Shobha')
+male('gra')
+male('pkb')
+female('pkbkw')
+female('1f')
+male('2s')
+parent('Vivek','Avishi')
+parent('Vivek','Samyak')
+parent('Rashmi','Samyak')
+parent('Rashmi','Avishi')
+parent('Shobha','Vivek')
+parent('Shobha','pkb')
+parent('gra','Vivek')
+parent('pkb','1f')
+parent('pkb','2s')
+parent('pkbkw','1f')
+parent('pkbkw','2s')
son(X,Y) <= male(X) & parent(Y,X)
father(X,Y) <= male(X) & parent(X,Y)
grandfather(X,Y) <= male(X) & parent(X,Z) & parent(Z,Y)
grandmother(X,Y) <= female(X) & parent(X,Z) & parent(Z,Y)
# print(pyDatalog.ask('son(Vivek,Y)'))
print(father('gra',Y))
print(grandfather(X,'Samyak'))
print(grandfather(X,'Samyak'))
print(son('2s',Y))

In [3]:
from pyDatalog import pyDatalog
pyDatalog.create_atoms('big,small,brown,black,grey,X,Y,dab,dark')
+big('bear')
+big('elephant')
+small('cat')
+brown('bear')
+black('cat')
+grey('elephant')
dark(X) <= black(X)
dark(X) <= brown(X)
dab(X) <= dark(X) & big(X)
print(dab(X))

X
----
bear

In [2]:
pip install automata-lib

Requirement already satisfied: automata-lib in c:\users\samyak\anaconda3\lib\site-packages (5.0.0)
Requirement already satisfied: pydot in c:\users\samyak\anaconda3\lib\site-packages (from automata-lib) (1.4.2)
Requirement already satisfied: pyparsing>=2.1.4 in c:\users\samyak\anaconda3\lib\site-packages (from pydot->automata-lib) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from automata.fa.dfa import DFA

dfa = DFA(
    states={'a','b','c','d','e'},
    input_symbols={'0','1'},
    transitions={
        'a':{'0':'b','1':'a'},
        'b':{'0':'b','1':'c'},
        'c':{'0':'d','1':'e'},
        'd':{'0':'d','1':'d'},
        'e':{'0':'b','1':'e'}
    },
    initial_state='a',
    final_states={'d'}
)
dfa.read_input('010')

In [ ]:
pip install sympy

In [ ]:
from sympy import *
a=Rational(1,3)
print(a)
print(a*3)
print(pi.evalf())
print(exp(1).evalf())
print(oo + 1000)
x =Symbol('x')
y=Symbol('y')
print((x+y)-(x-y))
print(integrate(x**2,x))
print(diff(x**2,x))
print(expand((x+y)**2))
print(series(cos(x),x))
print(integrate(x**3,(x,-1,1)))

In [ ]:
pip install sympy

In [ ]:
from sympy import *
a=Rational(1,3)
print(a)
print(a*3)
print(pi.evalf())
print(exp(1).evalf())
print(oo + 1000)
x =Symbol('x')
y=Symbol('y')
print((x+y)-(x-y))
print(integrate(x**2,x))
print(diff(x**2,x))
print(expand((x+y)**2))
print(series(cos(x),x))
print(integrate(x**3,(x,-1,1)))

In [7]:
from tkinter import *
tk=Tk()
var = IntVar()
Checkbutton(tk,text="Check when an option is true").grid(row=0,column=0)
Spinbox(tk,increment=1,from_=0,to=10).grid(row=1,column=0)
Radiobutton(tk,text="Male",variable=var, value=1).grid(row=3,column=0)
Radiobutton(tk,text="Female",variable=var, value=2).grid(row=3,column=1)
tk.mainloop()

In [10]:
from tkinter import *
from tkinter import messagebox
tk=Tk()
x=StringVar()
def pri():
    x=t.get()
    messagebox.showinfo(tk,x)
Label(tk,text="Title").grid(row=0,column=0)
t=Entry(tk)
t.grid(row=0,column=1)
Label(tk,text="Author").grid(row=0,column=3)
Button(tk,text="Hello",command=pri).grid(row=1,column=1)
tk.mainloop()

In [ ]:
from automata.fa.dfa import DFA
dfa=DFA(
    states={'a','b','c','d'},
    input_symbols={'0','1'},
    transitions={
        'a':{'1':'a','0':'b'},
        'b':{'1':'a','0':'c'},
        'c':{'0':'c','1':'d'},
        'd':{'0':'d','1':'d'}
    },
    initial_state='a',
    final_states={'d'}
    )
if dfa.accepts_input('001'):
    print("hello")
else:
    print("fail")

In [ ]:
from automata.fa.dfa import DFA
dfa=DFA(
    states={'a','b','c','d'},
    input_symbols={'0','1'},
    transitions={
        'a':{'1':'a','0':'b'},
        'b':{'1':'c','0':'b'},
        'c':{'0':'d','1':'a'},
        'd':{'0':'d','1':'d'}
    },
     initial_state='a',
    final_states={'d'}
    )
if dfa.accepts_input('010'):
    print("hello")
else:
    print("fail")

In [ ]:
from automata.fa.dfa import DFA
dfa=DFA(
    states={'a','b','c',},
    input_symbols={'0','1'},
    transitions={
        'a':{'1':'b','0':'a'},
        'b':{'1':'c','0':'b'},
        'c':{'0':'c','1':'c'}
    },
    initial_state='a',
    final_states={'c'}
    )
if dfa.accepts_input('100'):
    print("hello")
else:
    print("fail")

In [ ]:
import sqlite3
con=sqlite3.connect("employee_details.db")
con.execute("Create table if not exists employeedetails(employeeid int primary key not null, employeename text not null, salary int not null)")
con.execute("insert into employeedetails values(123,'Samyak', 40000)")
con.execute("insert into employeedetails values(173,'Lallan', 20000)")
con.execute("insert into employeedetails values(128,'Samyak', 30000)")
rs=con.execute("Select * from employeedetails")
for rows in rs:
    print(rows[0]," ",rows[1]," ",rows[2])

In [7]:
import sqlite3
con=sqlite3.connect("lang_details512.db")
con.execute("Create table if not exists langdetails(languagename text not null, time int not null, rupees int not null )")
con.execute("insert into langdetails values('Python',6, 600)")
con.execute("insert into langdetails values('Java',  5, 100)")
con.execute("insert into langdetails values('Python',2, 1200)")
con.execute("insert into langdetails values('tree',2, 1200)")
con.execute("Update langdetails set rupees=300 where languagename='Java'")
con.execute("Delete from langdetails where languagename='tree'")
rs=con.execute("Select * from langdetails Limit 5")
for rows in rs:
    print(rows[0]," ",rows[1])

Python   6
Java   5
Python   2

In [1]:
import sqlite3
con=sqlite3.connect("teachekmrssss_data.db")
con.execute("PRAGMA foreign_keys=ON")
con.execute("Create table if not exists teacherdetails(Teacherid int primary key not null, teachername text not null, gender text not null)")
con.execute("insert into teacherdetails values(567,'JAGTAP','MALE')")
con.execute("insert into teacherdetails values(375,'AGILA','MALE')")
con.execute("insert into teacherdetails values(980,'RANA','BANIYA')")
con.execute("insert into teacherdetails values(183,'BANNERJEE','FEMALE')")
rs=con.execute("select * from teacherdetails")
for rows in rs:
    print(rows[0]," ",rows[1]," ",rows[2])    


con.execute("Create table if not exists studentdetails(Studentid int primary key not null, studentname text not null, gender text not null, Teacherid int not null, foreign key(Teacherid) references teacherdetails(Teacherid))")
con.execute("insert into studentdetails values(123,'SAMYAK','MALE',567)")
con.execute("insert into studentdetails values(128,'SARTHAK','MALE',375)") 
con.execute("insert into studentdetails values(129,'MOHIT','BANIYA',980)")
con.execute("insert into studentdetails values(121,'MOHINI','FEMALE',183)")
con.execute("Update studentdetails set studentname='moksh' where Studentid=129")
rs=con.execute("select * from studentdetails")
for rows in rs:
    print(rows[0]," ",rows[1]," ",rows[2])

567   JAGTAP   MALE
375   AGILA   MALE
980   RANA   BANIYA
183   BANNERJEE   FEMALE
123   SAMYAK   MALE
128   SARTHAK   MALE
129   moksh   BANIYA
121   MOHINI   FEMALE

In [ ]:
import socket
s=socket.socket()
host=socket.gethostname()
port=1876
s.bind((host,port))
print("Waiting for connection ")
s.listen()

while True:
    conn,addr=s.accept()
    print("Got connect from",addr)
    conn.send("Hello Sir".encode())
    print(conn.recv(1024).decode())
    conn.close()

Waiting for connection
Got connect from ('192.168.1.21', 62598)
Hi

In [1]:
a="hello"
print[::-1]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [2]:
a='hello'
print([::-1])

SyntaxError: invalid syntax (Temp/ipykernel_6916/3018510446.py, line 2)

In [3]:
a='hello'
print([:-1])

SyntaxError: invalid syntax (Temp/ipykernel_6916/1845455993.py, line 2)

In [5]:
a='hello'
print(a[::-1])

olleh

In [7]:
marks=[10,90,50,70]
print(marks[0])

10

In [5]:
s=input()
if len(s) >=8:
    al=0
    d=0
    iden=0
    for i in s:
        if i.isalpha():
            al+=1
        elif i.isdigit():
            d+=1
        else:
            iden+=1
    if d>0 and al>0 and iden>0:
        print("Yes")
    else:
        print("No")
else:
    print("Not Valid")
print(s[::-1])

sar
Not Valid
ras

In [6]:
l=[10,40,60,30]
l.append(50)
print(l[::-1])

[50, 30, 60, 40, 10]

In [10]:
num = int(input("enter a number"))
if num<0:
    print("Enter a positive number")

else:
    sum=0
    for i in range(num+1):
        sum+=i
        
print("the sum is",sum)

enter a number123
the sum is 7626

In [11]:
class employee:
    x=5
e = employee()
print(e.x)

5

In [17]:
class person:
    def __init__(self,name,age):
        self.nam  = name
        self.ag = age
        
p1 = person("qwerty", 36)
print(p1.nam)
print(p1.ag)

john
36

In [28]:
class sum:
    def __init__(self,a,b):
        self.a1=a
        self.b1=b
        self.multiply = self.a1*self.b1
c1=sum(10,56)
print(c1.multiply)

560

In [15]:
from tkinter import *
from tkinter import messagebox
tk=Tk()

km1=IntVar()

def calc():
    km1=int(miles.get())
    km1=(km1*1.6)
    messagebox.showinfo("ok",km1)
    print(km1)
    return km1



miles=Entry()
miles.grid(column=1)
Label(tk,text="Miles").grid(row=0,column=2)
Label(tk,text="is equal to").grid(row=1,column=0)

#Label(tk,textvariable=km1.get).grid(row=1,column=1)

Button(tk,text="Calculate",command=calc).grid(row=2,column=1)

tk.mainloop()

9.600000000000001

In [17]:
import sqlite3
conn = sqlite3.connect("job.db")
conn.execute("PRAGMA foreign_keys = ON")
conn.execute("create table if not exists teacher(id char primary key not null,name char not null)")
conn.execute("insert into teacher values('123','Sumit')")
conn.execute("insert into teacher values('124','Sumit124')")
conn.execute("create table if not exists practable(id char primary key not null, name char not null, age int not null, tid char not null, Foreign Key(tid) references teacher(id))")
conn.execute("insert into practable values('12','Sarthak',32,'124')")
conn.execute("insert into practable values('13','qwerty',34,'123')")
conn.execute("insert into practable values('14','test2',78,'124')")
conn.execute("insert into practable values('15','test3',45,'124')")
conn.execute("insert into practable values('16','test4',90,'124')")

q=conn.execute("select * from practable where name like 'S%' ")
z=conn.execute("select * from practable where name like '%y' ")
a=conn.execute("select * from practable where name='Sarthak'")
b=conn.execute("select * from practable order by id desc limit 4")
conn.execute("Update practable set name='UpdatedName' where name='Sarthak' ")
c=conn.execute("select * from practable")
d=conn.execute("select sum(age) from practable")
e=conn.execute("select * from practable where age between 30 and 50")
conn.execute("alter table practable rename to pt")
conn.execute("alter table pt rename column age to studentAge")

for rows in q:
    print(rows[0]," ",rows[1])
print("* * * * * * * * * * * *")
for rows in z:
    print(rows[0]," ",rows[1])
print("* * * * * * * * * * * *")
for rows in a:
    print(rows[0]," ",rows[1])
print("* * * * * * * * * * * *")
for rows in b:
    print(rows[0]," ",rows[1])
print("* * * * * * * * * * * *")
for rows in c:
    print(rows[0]," ",rows[1])
print("* * * * * * * * * * * *")
for rows in d:
    print(rows[0])
print("* * * * * * * * * * * *")
for rows in e:
    print(rows[0]," ",rows[1])

12   Sarthak
* * * * * * * * * * * *
13   qwerty
* * * * * * * * * * * *
12   Sarthak
* * * * * * * * * * * *
16   test4
15   test3
14   test2
13   qwerty
* * * * * * * * * * * *
12   UpdatedName
13   qwerty
14   test2
15   test3
16   test4
* * * * * * * * * * * *
279
* * * * * * * * * * * *
12   UpdatedName
13   qwerty
15   test3

In [18]:
import sqlite3
conn = sqlite3.connect("job.db")
conn.execute("PRAGMA foreign_keys = ON")
conn.execute("create table if not exists teacher(id char primary key not null,name char not null)")
conn.execute("insert into teacher values('123','Sumit')")
conn.execute("insert into teacher values('124','Sumit124')")
conn.execute("Drop table practable") #to delete table
conn.execute("create table if not exists practable(id char primary key not null, name char not null, age int not null, tid char not null, Foreign Key(tid) references teacher(id))")
conn.execute("insert into practable values('12','Sarthak',32,'124')")
conn.execute("insert into practable values('13','qwerty',34,'123')")
conn.execute("insert into practable values('14','test2',78,'124')")
conn.execute("insert into practable values('15','test3',45,'124')")
conn.execute("insert into practable values('16','test4',90,'124')")

q=conn.execute("select * from practable where name like 'S%' ")
z=conn.execute("select * from practable where name like '%y' ")
a=conn.execute("select * from practable where name='Sarthak'")
b=conn.execute("select * from practable order by id desc limit 4")
conn.execute("Update practable set name='UpdatedName' where name='Sarthak' ")
c=conn.execute("select * from practable")
d=conn.execute("select sum(age) from practable")
e=conn.execute("select * from practable where age between 30 and 50")
conn.execute("alter table practable rename to pt")
conn.execute("alter table pt rename column age to studentAge")

for rows in q:
    print(rows[0]," ",rows[1])
print("* * * * * * * * * * * *")
for rows in z:
    print(rows[0]," ",rows[1])
print("* * * * * * * * * * * *")
for rows in a:
    print(rows[0]," ",rows[1])
print("* * * * * * * * * * * *")
for rows in b:
    print(rows[0]," ",rows[1])
print("* * * * * * * * * * * *")
for rows in c:
    print(rows[0]," ",rows[1])
print("* * * * * * * * * * * *")
for rows in d:
    print(rows[0])
print("* * * * * * * * * * * *")
for rows in e:
    print(rows[0]," ",rows[1])

OperationalError: database is locked

In [ ]:
import sqlite3
conn = sqlite3.connect("job.db")
conn.execute("PRAGMA foreign_keys = ON")
conn.execute("create table if not exists teacher(id char primary key not null,name char not null)")
conn.execute("insert into teacher values('123','Sumit')")
conn.execute("insert into teacher values('124','Sumit124')")
conn.execute("Drop table practable") #to delete table
conn.execute("create table if not exists practable(id char primary key not null, name char not null, age int not null, tid char not null, Foreign Key(tid) references teacher(id))")
conn.execute("insert into practable values('12','Sarthak',32,'124')")
conn.execute("insert into practable values('13','qwerty',34,'123')")
conn.execute("insert into practable values('14','test2',78,'124')")
conn.execute("insert into practable values('15','test3',45,'124')")
conn.execute("insert into practable values('16','test4',90,'124')")

q=conn.execute("select * from practable where name like 'S%' ")
z=conn.execute("select * from practable where name like '%y' ")
a=conn.execute("select * from practable where name='Sarthak'")
b=conn.execute("select * from practable order by id desc limit 4")
conn.execute("Update practable set name='UpdatedName' where name='Sarthak' ")
c=conn.execute("select * from practable")
d=conn.execute("select sum(age) from practable")
e=conn.execute("select * from practable where age between 30 and 50")
conn.execute("alter table practable rename to pt")
conn.execute("alter table pt rename column age to studentAge")

for rows in q:
    print(rows[0]," ",rows[1])
print("* * * * * * * * * * * *")
for rows in z:
    print(rows[0]," ",rows[1])
print("* * * * * * * * * * * *")
for rows in a:
    print(rows[0]," ",rows[1])
print("* * * * * * * * * * * *")
for rows in b:
    print(rows[0]," ",rows[1])
print("* * * * * * * * * * * *")
for rows in c:
    print(rows[0]," ",rows[1])
print("* * * * * * * * * * * *")
for rows in d:
    print(rows[0])
print("* * * * * * * * * * * *")
for rows in e:
    print(rows[0]," ",rows[1])

In [19]:
import sqlite3
conn = sqlite3.connect("job.db")
conn.execute("PRAGMA foreign_keys = ON")
conn.execute("create table if not exists teacher(id char primary key not null,name char not null)")
conn.execute("insert into teacher values('123','Sumit')")
conn.execute("insert into teacher values('124','Sumit124')")
conn.execute("Drop table practable") #to delete table
conn.execute("create table if not exists practable(id char primary key not null, name char not null, age int not null, tid char not null, Foreign Key(tid) references teacher(id))")
conn.execute("insert into practable values('12','Sarthak',32,'124')")
conn.execute("insert into practable values('13','qwerty',34,'123')")
conn.execute("insert into practable values('14','test2',78,'124')")
conn.execute("insert into practable values('15','test3',45,'124')")
conn.execute("insert into practable values('16','test4',90,'124')")

q=conn.execute("select * from practable where name like 'S%' ")
z=conn.execute("select * from practable where name like '%y' ")
a=conn.execute("select * from practable where name='Sarthak'")
b=conn.execute("select * from practable order by id desc limit 4")
conn.execute("Update practable set name='UpdatedName' where name='Sarthak' ")
c=conn.execute("select * from practable")
d=conn.execute("select sum(age) from practable")
e=conn.execute("select * from practable where age between 30 and 50")
conn.execute("alter table practable rename to pt")
conn.execute("alter table pt rename column age to studentAge")

for rows in q:
    print(rows[0]," ",rows[1])
print("* * * * * * * * * * * *")
for rows in z:
    print(rows[0]," ",rows[1])
print("* * * * * * * * * * * *")
for rows in a:
    print(rows[0]," ",rows[1])
print("* * * * * * * * * * * *")
for rows in b:
    print(rows[0]," ",rows[1])
print("* * * * * * * * * * * *")
for rows in c:
    print(rows[0]," ",rows[1])
print("* * * * * * * * * * * *")
for rows in d:
    print(rows[0])
print("* * * * * * * * * * * *")
for rows in e:
    print(rows[0]," ",rows[1])

OperationalError: database is locked

In [ ]:
import threading
import sympy
lock=threading.Lock()
def odd_num():
    lock.acquire()
    for i in range(100,201):
        if(i%2!=0):
            print(i,end = " ")
    print()
    print()
    lock.release()
            
def prime():
    lock.acquire()
    for i in range(200,301):
        if(sympy.isprime(i)):
            print(i,end=" ")
    print()
    print()
    lock.release()
            
def armstrong():
    lock.acquire()
    for i in range(100,301):
        sum=0
        temp = i
        while temp > 0:
            digit = temp % 10
            sum += digit ** 3
            temp //= 10

        if i == sum:
            print(i,end=" ")
    print()
    print()
    lock.release()

t1 = threading.Thread(target=odd_num)
t2 = threading.Thread(target=prime)
t3 = threading.Thread(target=armstrong)
    
t1.start()
t2.start()
t3.start()
 
t1.join()
t2.join()
t3.join()

Exception in thread Thread-9:
Traceback (most recent call last):
  File "C:\Users\SAMYAK\anaconda3\lib\threading.py", line 973, in _bootstrap_inner
    self.run()
  File "C:\Users\SAMYAK\anaconda3\lib\threading.py", line 910, in run
    self._target(*self._args, **self._kwargs)
  File "C:\Users\SAMYAK\AppData\Local\Temp/ipykernel_15352/2872376658.py", line 16, in prime
AttributeError: module 'sympy' has no attribute 'isprime'

101 103 105 107 109 111 113 115 117 119 121 123 125 127 129 131 133 135 137 139 141 143 145 147 149 151 153 155 157 159 161 163 165 167 169 171 173 175 177 179 181 183 185 187 189 191 193 195 197 199

In [15]:
import threading
import time

def even():
    for i in range(0,10,2):
        print(i)
        time.sleep(3)

def odd():
    for i in range(1,10,2):
        print(i)
        time.sleep(3)
t1=threading.Thread(target=even)
t2=threading.Thread(target=odd)
t1.start()

t1.join(timeout=2)

t2.start()
t2.join(timeout=3)

0
1
2
3
4
5
6
7
8
9

In [14]:
import threading
import time
def numeven():
    for i in range(0,15,2):
        print("t1: {}\n".format(i))
        time.sleep(3)
def numodd():
    for i in range(1,15,2):
        print("t2: {}\n".format(i))
        time.sleep(3)
        

t1=threading.Thread(target=numeven)
t2=threading.Thread(target=numodd)
t1.start()
t1.join(timeout=2)
t2.start()

t2.join(timeout=3)

t1: 0

t2: 1

t1: 2

t2: 3

t1: 4

t2: 5

t1: 6

t2: 7

t1: 8

t2: 9

t1: 10

t2: 11

t1: 12

t2: 13

t1: 14

In [16]:
from sympy import *
a=Rational(1,3)
print(a)
print(a*3)
print(pi.evalf())
print(exp(1).evalf())
print(oo + 1000)
x =Symbol('x')
y=Symbol('y')
print((x+y)-(x-y))
print(integrate(x**2,x))
print(diff(x**2,x))
print(expand((x+y)**2))
print(series(cos(x),x))
print(integrate(x**3,(x,-1,1)))
A=Matrix([[1,2],[1,2]])
b=Matrix([[1,2],[1,2]])
print(A*b)
exp="(x**2 + x)/ x"
print(sympify(exp))

NameError: name 'Rational' is not defined

In [17]:
from sympy import *

x=Symbol('x')
y=Symbol('y')
simplify("((x**2) + x)/x")
print(solve((x + y + 5, x-y)))

NameError: name 'Symbol' is not defined

In [18]:
from sympy import *
a=Rational(1,3)
x=Symbol('x')
y=Symbol('y')
print(a)
print(Pow(2,10))
simplify("((x**2) + x)/x")
solve((x + y + 5, x-y))

NameError: name 'Rational' is not defined

In [8]:
from pyDatalog import pyDatalog
pyDatalog.create_atoms('male,female,gra,grandma,parent,X,Y,son,father,Z')
+male('Adam')
+male('Henry')
+male('Daniel')
+female('Eve')
+female('Krena')
+parent('Adam','Henry')
+parent('Eve','Henry')
+parent('Henry','Daniel')
+parent('Henry','Krena')
son(X,Y) <= male(X) & parent(Y,X)
father(X,Y) <= male(X) & parent(X,Y)
gra(X,Y) <= male(X) & parent(X,Z) & parent(Z,Y)
grandma(X,Y) <= female(X) & parent(X,Z) & parent(Z,Y)
print(gra('Adam',X))

X
------
Krena
Daniel

In [9]:
from pyDatalog import pyDatalog
pyDatalog.create_atoms('big,small,brown,black,grey,X,Y,dab,dark')
+big('bear')
+big('elephant')
+small('cat')
+brown('bear')
+black('cat')
+grey('elephant')
dark(X) <= black(X)
dark(X) <= brown(X)
dab(X) <= dark(X) & big(X)
print(dab(X))

X
----
bear

In [10]:
from pyDatalog import pyDatalog
pyDatalog.create_terms('factorial, N')

factorial[N] = N*factorial[N-1] 
factorial[1] = 1
print(factorial[3]==N)

N
-
6

In [4]:
class Parent:
    def __init__(self,fn,ln):
        self.fn=fn
        self.ln=ln
    def display(self):
        print(self.fn, self.ln)
    
class Child(Parent):
    def __init__(self,fn,ln,gy):
        super().__init__(fn,ln)
        self.gy=gy
    def display(self):
        print(self.fn, self.ln, self.gy)
x=Child("Samyak", "Jain",201)
x.display()

Samyak Jain 201